fastapi
gunicorn
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
pandas 
tweety-ns
vaderSentiment
alpaca-py 
streamlit
plotly
requests
yfinance
pytz
pytest
pytest-asyncio
httpx
scikit-learn
textblob
joblib
